{% extends 'read_data/__temp.html' %}

{% block title %}
    home
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <div style="border: dimgray 1px solid; border-radius: 10px; padding: 5rem">
                <h3>extract data from IMDB </h3>
                <br>
                <a href="{% url 'extract_data' %}" class="btn btn-warning"> Extract! </a>
             </div>
        </div>
        <div  class="col-sm-4" >
            <div style="border: dimgray 1px solid; border-radius: 10px; padding: 5rem">
                <h3>insert data into database</h3>
                <br>
                <a href="" class="btn btn-success"> Insert! </a>
            </div>
        </div>
        <div  class="col-sm-4" >
            <div style="border: dimgray 1px solid; border-radius: 10px; padding: 5rem">
                <h3>show the list of movies</h3>
                <br>
                <a href="" class="btn btn-info"> Show... </a>
            </div>
        </div>
  </div>
{% endblock %}